.ui-input-wrapper {
    @apply flex flex-col gap-1;
}

.ui-input-base {
    @apply w-full rounded-md border border-gray-300 bg-white px-3 py-2
    text-gray-900 shadow-sm
    focus:outline-none focus:ring-2 focus:ring-gray-900 focus:border-transparent
    transition duration-200;
}

.ui-input-error {
    @apply border-red-500 focus:ring-red-500;
}

.ui-input-error-text {
    @apply text-sm text-red-600;
}
